@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.feed-title {
    width: fit-content;
    display: inline;
}

.feed-image {
    width: 100px;
    height: 100px;
}

.modal {
    transition: opacity 0.25s ease;
}
